{
  "singleQuote": true,
  "semi": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": true,
  "printWidth": 120,
  "htmlWhitespaceSensitivity": "ignore"
}
